<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">
    <!-- use Spring default values -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- remove flood from logs -->
    <logger name="ru.wdeath.managerbot.lib.bot.TelegramLongPollingEngine" level="ERROR"/>
    <logger name="ru.wdeath.programagent.lib.service.impl.BackClientServiceImpl" level="OFF"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>